@use '../../../styles/variables' as *;

.app-header__nav {
    background-color: $color-text;
    color: $color-bg;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    font-family: 'Formula 1', sans-serif;
    font-size: clamp(8px, 1.2vw, 32px);
    border-bottom: solid 2px $color-border;

    &-link {
        border-bottom: solid 2px transparent;

        &--active {
            border-bottom: solid 2px $color-accent;
        }
        &:hover {
            border-bottom: solid 2px $color-accent;
        }
    }
}
