$color-bg: #ffffff;
$color-bg-alt: #e0dedc;
$color-bg-alt2: #1c1c25;
$color-bg-alt3: #303037;
$color-bg-alt4: #47464c;

$color-text: #000000;
$color-text-muted: #15151e;
$color-text-alt: #ffffff;
$color-text-alt2: #e0dedc;

$color-accent: #e10600;
$color-accent-hover: #00e6a8;

$color-link: #404bdd;
$color-link-hover: #00e6a8;
$color-link-border: #e10600;

$color-border: #303037;

// Team colors
$team-mclaren: #f47600;
$team-red-bull: #4781d7;
$team-mercedes: #00d7b6;
$team-ferrari: #ed1131;
$team-williams: #1868db;
$team-aston-martin: #229971;
$team-kick-sauber: #01c00e;
$team-haas: #9c9fa2;
$team-alpine: #00a1e8;
$team-racing-bulls: #6c98ff;
