@use '../../../styles/variables' as *;

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__brand {
        position: relative;
        width: 100%;
        aspect-ratio: 1920 / 159;
        background-color: $content-primary;
        overflow: hidden;

        &-bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        &-text {
            position: absolute;
            z-index: 2;
            height: 100%;
            right: 6.7%;
            top: 20%;
            max-width: 23.3%;
            width: 100%;
            color: $surface-base;
            color: $content-primary;
            color: $stroke-default;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10%;

            & h1 {
                font-family: 'Formula 1', sans-serif;
                font-size: clamp(8px, 2vw, 32px);
                line-height: 1;
                // text-transform: uppercase;
                margin: 0;
            }

            & p {
                font-family: 'Formula 1', sans-serif;
                font-size: clamp(8px, 1.6vw, 26px);
                line-height: 1.1;
                margin: 0;
            }
        }
    }
}
