@use '../../../styles/variables' as *;

.app-title {
    background-color: $surface-contrast;
    color: $content-inverse;
    width: 100%;
    height: 48px;
    max-height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 0.5rem;
    border-bottom: 2px solid $stroke-default;

    &__content {
        padding: 0 2rem;
        font-size: clamp(8px, 2vw, 20px);
        line-height: 1;
    }

    &__slash {
        width: 3%;
        height: 3rem;
        background: linear-gradient(180deg, $surface-contrast, $surface-strong);
        transform: skewX(-20deg);
        display: inline-block;
    }
}
