@use '../../../styles/variables' as *;

.app-drivers-pilots {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 1.4rem);

    &__section {
        display: flex;
        flex-direction: column;
        gap: clamp(0.8rem, 1.6vw, 1rem);

        &--retired {
            padding-top: clamp(0.85rem, 1.8vw, 1.2rem);
            border-top: 1px solid rgba($neutral-white, 0.1);
        }
    }

    &__title {
        margin: 0;
        font-family: 'Formula 1', sans-serif;
        font-size: clamp(0.9rem, 1.5vw, 1rem);
        color: $content-inverse;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: clamp(0.85rem, 1.8vw, 1.1rem);
        align-items: stretch;
    }
}
